<div class="small-container">
    <h4 class="title">Популярные Товары</h4>
    <div class="row">
        @foreach (var phone in Model)
        {
            <div class="col-4">
                <a href="#">
                    <img src="~/img/products/1.jpg">
                    <h4>@phone.Name</h4>
                </a>
                <partial name="_Rating-blok">
                <p>@phone.Company</p>
                <p>@phone.Price</p>
                <a href="~/Home/Buy/@phone.Id" class="order-btn">Купить</a>
            </div>
        }
    </div>
    <h4 class="title">Новые товары</h4>
    <div class="row">
        @foreach (var phone in Model)
        {
            <div class="col-4">
                <a href="#">
                    <img src="~/img/products/1.jpg">
                    <h4>@phone.Name</h4>
                </a>
                <partial name="_Rating-blok">
                <p>@phone.Company</p>
                <p>@phone.Price</p>
                <a href="~/Home/Buy/@phone.Id" class="order-btn">Купить</a>
            </div>
        }
    </div>
    <div class="row">
        @foreach (var phone in Model)
        {
            <div class="col-4">
                <a href="#">
                    <img src="~/img/products/1.jpg">
                    <h4>@phone.Name</h4>
                </a>
                <partial name="_Rating-blok">
                <p>@phone.Company</p>
                <p>@phone.Price</p>
                <a href="~/Home/Buy/@phone.Id" class="order-btn">Купить</a>
            </div>
        }
    </div>
</div>